<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Contact us page..!</title>
  </head>
  <body>
    {{> header}}

    <p>contact page text would go here</p>
    <h1>contact me </h1>
    <p>flychand@gmail.com</p>
    <p>at banglore</p>
    <p>karnatka</p>
    <p>India</p>

    {{> footer}}
  </body>
</html>
